
.registerForm input {
    margin: 3px;
}
.spanError {
    color: #b30000;
}

.labelError {
    text-decoration: underline;
}

.inputError {
    background-color: #ffcccc;
    border: #b30000 1px solid;
}




